#!/usr/bin/env ruby

compile "/posts/**/*.html" do
  filter :erb
  layout "/post.html"
  snapshot :formatted_post
  layout "/default.html"
end

compile "/**/*.html" do
  filter :erb
  layout "/default.html"
end

compile "/posts/**/*.mkd" do
  filter :kramdown
  filter :erb
  layout "/post.html"
  snapshot :formatted_post
  layout "/default.html"
end

compile "/**/*.mkd" do
  filter :kramdown
  filter :erb
  layout "/default.html"
end

route "/index.html" do
  @item.identifier.to_s
end

route %r"/posts/(\d{4})--([^\./]*).*" do |number, slug|
  created_at = @item[:created_at]
  year = created_at.year
  month = created_at.month.to_s.rjust(2, "0")
  day = created_at.day.to_s.rjust(2, "0")

  "/posts/#{year}/#{month}/#{day}/#{slug}/index.html"
end

route "/**/*.{html,mkd}" do
  @item.identifier.without_ext + "/index.html"
end

passthrough "/**/*"

layout "/**/*", :erb
